*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  color: $color-gray-dark-3;
}

body {
  background-color: $color-main-white;
}